
:root{
    --selected-item: 0;
}

*{
    font-family: customfont;
    color: white;
}
body::-webkit-scrollbar {
    width: 10px;             
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(39, 39, 73);    
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(10, 68, 134);  
    border-radius: 20px;   
    border: 1px solid rgba(255, 255, 255, 0)  
  }
body{
    position: relative;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: customfont;
    src: url(/src/fonts/SansationLight.ttf);
}

.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background-size: cover; 
    
}

.hi{
    color:rgb(24, 174, 222);
    font-size:50px;
    font-weight:900;
    font-family: customfont;
     

}
.group_text1{
    
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;

    
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%

}


/* navbar */
.ghc {
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: s;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: rgb(39, 39, 73);
    font-weight: 900;
}
.group-h{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}




/* /* #GHI = grid- header - item */

.togle-menu{
    display: none;
    width: 50px;
    height: 50px;
    background-image: url("/src/icons/togle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    margin: 10;
    cursor: pointer;
}

.header-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-item-2 ul{
    display: flex;
    flex-direction: row;

}
.header-item-2 li{
    margin: 0 10px;
    margin: 10px;
    list-style: none;
    font-size: 20px;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    
}
.header-item-2 li:hover{
    transform: scale(1.1);
}
.header-item-2 a{
    text-decoration: none;
    color: white;
}
.header-item-2 a:hover{
    color: #0f9ef1;
}



/* /* #GHI = grid- header - item */



.btn-social{

    position: fixed;
    background-color: #000000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #0f9ef1;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;

}



.button-git {

    bottom: 10px;
    right: 20px;
    background-image:url(/src/git.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid #0f9ef1;

    
}

.linkedin{
    bottom: 40px;
    right: 20px;
    background-image:url(/src/icons/lkd.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #0f9ef1;

}

.linkedin:hover{
    transform: scale(1.1);
    z-index: 1000;
}
.button-git:hover{
    transform: scale(1.1);
    z-index: 1000;
}
/* #GCI = grid- content - item */

.gcc{
    position: relative;
    display: flex;
    top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(px);
    
    
}

.box p,span{
    font-size: 20px;
    font-weight: 100;
    text-shadow: 0 0 10px rgb(75 0 250 / 50%);
    margin: 10px;
}



.group_text_skill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 100;
    text-shadow: 0 0 10px rgb(75 0 250 / 50%);
}

.item_skil:hover{
    
    border: 1px solid #0f9ef1;
    border-radius: 10px;
    transform: scale(1.1);
    z-index: 1000;

    

}
.gci {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transition: 0.5s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.desc1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.desc2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.desc2 p{
    font-size: 20px;
    font-weight: 100;
    text-shadow: 0 0 10px rgb(75 0 250 / 50%);
    margin: 10px;
}


.box{
    margin: 10;
    

}
.box1{
    
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.box2{

    padding: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item_skil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(39, 39, 73);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(13, 253, 213, 0.5);
    backdrop-filter: blur(5px);
    transition: 0.5s;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}






/* ESTILO DO BOX: */




/* TITULO BOX: */
.box_grid_T{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px 0 rgba(172, 171, 171, 0.5);
    transition: 0.5s;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}






/* #GCI = grid- content - item */


@media all and (min-width:960px) {

    .header-item-2 li{
        font-size: 15px;
    }
    
}

@media all and (min-width: 1440px){
    .header-item-2 li{
        font-size: 20px;
    }
}
    
@media screen and (max-width: 768px) {
    
    .item_skil{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        background-color: rgb(39, 39, 73);
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(13, 253, 213, 0.5);
        backdrop-filter: blur(5px);
        transition: 0.5s;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    }
    .box1{
        margin-left: 0;
    }
    .box2{
        padding: 10;
    }
    .header-item-2{
        display: none;
    }
    .header-item-2 ul{
        
        flex-direction: column;
        
       
    }
    .togle-menu{
        display: block;
    
    }
    .group-h{
        justify-content: space-between;
        
    }
    
    .header-item-2 li{
        font-size: 15px;
    }
    .box,p{

        text-align: center;
    }

      
    .video-repo iframe{
        width: 300;
        height: 200;
      
    }
    .desc1{
        flex-direction: column;
        width: 100%;
        
        transform: translate(0%);
        
       
    }
    
    .gci:hover {
        transform: translate(0%) scale(1.0);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
        backdrop-filter: none;
    }
    .box_grid_T{
        display: flex;
        
        
        
    }


    .img-repo video{
        width: 100%;
    }
    .img-repo img{
        min-width: 100%;
    }
}
    

.slide-show{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }

.slides-list{

    --total-items: 4;
    
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    width: calc(var(--total-items) * 100%);
    
    transition: left 0.5s ease-in-out;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.slide{
    width: 100%;
    gap: 10px;
    margin: 0;


}



.icons-links{

    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.icons-links img{
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title-repo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.desc-repo p{
    font-size: 15px;
    font-weight: 100;
    text-shadow: 0 0 10px rgba(75, 0, 250, 0.5);
    margin: 10px;

}
.img-repo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}
.img-repo img{
    width: 50%;
    height: 50%;
    margin: 10px;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.previus_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    max-height: 50px;
    min-width: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
}

.previus_btn img{
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: 0.5s;

    
}
.next_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    max-height: 50px;
    min-width: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
}

.next_btn img{
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: 0.5s;

    
}

.tags-repo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.video_yt_repo{
    width: 700;
    height: 400;
}

.back_home_404{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: xx-large;
    color: white;
    text-decoration: none;
}